<?xml version='1.0' encoding='utf-8'?>
<robot name="generated_hull">
  <link name="base_link">
    <inertial>
      <origin xyz="-0.026681 0 0.247259" rpy="0 0 0" />
      <mass value="148.468684" />
      <inertia ixx="17.683132" iyy="36.088024" izz="36.088024" ixy="0" ixz="0" iyz="0" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://hull/hull.stl" />
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://hull/hull.stl" />
      </geometry>
    </collision>
  </link>
</robot>